<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PMS</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style1.css">
</head>
<!--Header-->
<header id="header">
    <nav>
        <div class="container text-center">
                <a href="/" class="nav-brand text-dark">User Management System</a>
        
                <a href="/index1" class="nav-brand text-dark toright">Home</a>
            
                <a href="/auth/logout" class="nav-brand text-dark toright">Logout</a>
        </div>
    </nav>
</header>
<!--/Header-->
<body>


    

  