<!-- include header-->
<%-include('partials/_header')%>
<!-- /include header-->


    <!--Main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
               <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>All accounts</a>
               </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">New User</h2>
                <span class="text-light">Use the below form to create new account</span>
            </div>

            <!--add user form-->
            <%-include('partials/_form')%>
            <!--/add user form-->


        </div>
     </main>
<!--/Main site-->


<!-- include header-->
<%-include('partials/_footer')%>
<!-- /include header-->
