<!-- include header-->
    <%-include('partials/_header')%>
<!-- /include header-->


    <!--Main site-->
    <main id="site-main">
        <div class="container">
            <div class="box-nav d-flex justify-between">
                <a href="/add-user" class="border-shadow">
                    <span class="text-gradient">Add new Account<i class="fas fa-user"></i></span>
                </a>
            </div>

            <!--form handling-->
            <form action="/" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>Platform Name</th>
                            <th>Email 1</th>
                            <th>Email 2</th>
                            <th>Password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%-include('partials/_show')%>
                    </tbody>
                </table>
            </form>
            <!-- <%=users%> -->

            

        </div>
     </main>
<!--/Main site-->


<!-- include header-->
    <%-include('partials/_footer')%>
<!-- /include header-->
