<%-include("partials/header.ejs") %>

<!--home-->

<div class="container-fluid position-absolute top-50 start-50 translate-middle text-center">

    <div class="home-msg">
        <div class="mb-3 quotes-home-icon">
            <i class="fa-solid fa-quote-left"></i>
            <sub class="fw-bold">Password Management System</sub>
            <i class="fa-solid fa-quote-right "></i>
        </div>

        <p>I will never forget your Account details!</p>
    </div>

    <div class="register-login mt-5">
        <a class="btn btn-lg btn-light register__btn" type="button" href="/register">register</a>
        <a class="btn btn-lg btn-dark purple__btn ms-5" type="button" href="/login">login</a>
    </div>

</div>



<%-include("partials/footer.ejs") %>


